# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store
secrets.json

# dotenv environment variables file
.env*
.now

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
