/* Projekte carousel stylen */
.projekte .carousel {
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
}

.projekte .carousel .carousel-caption {
  color: #000;
  text-shadow: 0 0px 25px rgba(255, 255, 255, 1),
    1px 1px 0px rgba(255, 255, 255, 1), 0px 0px 3px rgba(255, 255, 255, 1);
}

.projekte .carousel .carousel-caption h2 {
  font-weight: bolder;
}

.projekte .carousel .carousel-indicators li {
  border: 1px solid #000;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1);
}

.projekte .carousel .carousel-indicators li.active {
  background-color: #ffdf38;
}

.projekte .carousel-control {
  opacity: 0.7;
  background-image: none;
  font-size: 35px;
}

.projekte .carousel-control.right:not(:hover) {
  background-image: none;
}

.projekte .carousel-control.left:not(:hover) {
  background-image: none;
}

.projekte .carousel-control:hover {
  opacity: 0.5;
}

/* marketing stylen */
.projekte .projekt {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {

  /* Space out content a bit */
  body {
    padding-bottom: 20px;
  }

  .leitbild .col-lg-4 {
    min-height: 254px;
  }
}